body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timeline{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top:50px;
}

.timeline div{
  padding: 0px;
  margin: 0px;
  margin-left: 80px;
}

.timeline-container {
  border-top: #69B34C solid 3px;
}

.timeline .right{
  background-color:aliceblue;
}

a{
  color:#69B34C;
  font-size: 20px;
  text-decoration: none;
  
}

a:hover{
  text-shadow: whitesmoke 1px 1px;
  transition: all .5s;
  font-size: 25px;
}

a:active{
  text-shadow: whitesmoke 1px 1px 2px;
}


